$kamera_sec_links-to-documents: 1215px;
$kamera_sec_links-to-documents2: 610px;

$iletisim_sec_information: 1235px;
$iletisim_sec_information2: 1170px;
$iletisim_sec_information3: 490px;

$hakkimizda_sec_text-area: 1700px;