@use "variables.scss";
@use "mixins.scss";
@use "views/index.scss";
@use "views/aydinlatma.scss";
@use "partials/header.scss";
@use "partials/footer.scss";
@use "sass:math";

html, body {
  margin: 0;
  padding: 0;
  background-color: variables.$clr_sides;
}

.content-spacing {
  padding: math.div(variables.$px_horizontalPadding, 2) variables.$px_horizontalPadding;

  @include mixins.mx_index_brands_fix {
    padding: math.div(variables.$px_horizontalPadding2, 2) variables.$px_horizontalPadding2;
  }

  @include mixins.mx_index_brands_fix2 {
    padding: math.div(variables.$px_horizontalPadding3, 2) variables.$px_horizontalPadding3;
  }
}

.ignore-vertical {
  // ignores vertical padding applied by .content-spacing
  padding-top: 0;
  padding-bottom: 0;
}

#header {
  // Layout, details and children is set in partials/header.scss
  height: 10vh;

  @include mixins.header_overflow2 {
    height: 5vh;
  }
}

#container {
  height: 90vh;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 1fr;
  grid-gap: 0;
  overflow: auto;
}

#content {
  background: whitesmoke;
  grid-column: 1;
  grid-row: 1;
  overflow-wrap: break-word;
}

#footer {
  grid-column: 1;
  grid-row: 2;
}

#footer-stateless {
  grid-column: 1;
  grid-row: 3;
}