@use "variables.scss";
@use "mixins.scss";
@use "views/index.scss";
@use "views/aydinlatma.scss";
@use "views/iletisim.scss";
@use "views/hakkimizda.scss";
@use "views/kamera.scss";
@use "views/galeri.scss";
@use "partials/header.scss";
@use "partials/footer.scss";
@use "keyframes";
@use "sass:math";

$px_scroll-to-top_size: 50px;

html, body {
  margin: 0;
  padding: 0;
  background-color: variables.$clr_sides;
  scroll-behavior: smooth;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: variables.$clr_nav_sleep;

  &:hover {
    color: variables.$clr_nav_active;
  }

  &:active {
    font-style: italic;
  }
}

.content-spacing {
  padding: math.div(variables.$px_horizontalPadding, 2) variables.$px_horizontalPadding;

  @include mixins.mx_index_brands_fix {
    padding: math.div(variables.$px_horizontalPadding2, 2) variables.$px_horizontalPadding2;
  }

  @include mixins.mx_index_brands_fix2 {
    padding: math.div(variables.$px_horizontalPadding3, 2) variables.$px_horizontalPadding3;
  }
}

.ignore-vertical {
  // ignores vertical padding applied by .content-spacing
  padding-top: 0;
  padding-bottom: 0;
}

.hidden {
  display: none;
}

.flex {
  display: flex;
}

.inline-block {
  display: inline-block;
}

.no-decoration {
  text-decoration: none;
  color: inherit;

  &:hover {
    color: inherit;
  }
}

#header {
  position: sticky;
  top: 0;
  z-index: 99;
  // Layout, details and children is set in partials/header.scss
  height: 10vh;

  @include mixins.header_overflow2 {
    height: 45px;
  }
}

#drawer {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  background: variables.$cg_drawer;
  width: 0;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: width 500ms;

  .dropdown-nav-item {
    position: relative;
    margin-top: math.div(variables.$px_horizontalPadding, 4);
    background: variables.$cg_drawer_navitem;
    -webkit-background-clip: text;
    //noinspection CssInvalidPropertyValue
    background-clip: text;
    color: transparent;
    font: 600 28px "Montserrat", sans-serif;
    text-decoration: none;
    -webkit-animation: navbar-appear 550ms;
    animation: navbar-appear 550ms;

    &:first-of-type {
      margin-top: math.div(variables.$px_horizontalPadding, 2);
    }

    &:after {
      content: '';
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: 0;
      left: 0;
      background: linear-gradient(to left, #FFF, #AFF);
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
    }

    &:hover:after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }

  &.expanded {
    width: 100%;
    top: unset;
    bottom: 0;
  }

  @include mixins.header_overflow2 {
    height: calc(100vh - 45px);
  }
}

.dropdown_close_animation {
  -webkit-animation: drawer-close 550ms;
  animation: drawer-close 550ms;
}

.dropdown-nav-item_close_animation {
  -webkit-animation: navbar-disappear 550ms;
  animation: navbar-disappear 550ms;
}

@-webkit-keyframes drawer-close {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}
@keyframes drawer-close {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}

@-webkit-keyframes drawer-open {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes drawer-open {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes navbar-appear {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes navbar-appear {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes navbar-disappear {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}
@keyframes navbar-disappear {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}

#container {
  min-height: 90vh;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 1fr;
  grid-gap: 0;
  overflow: auto;

  @include mixins.header_overflow2 {
    min-height: calc(100vh - 45px);
  }

  &.hidden {
    display: none;
  }
}

#content {
  background: whitesmoke;
  grid-column: 1;
  grid-row: 1;
  overflow-wrap: break-word;
}

#scroll-to-top {
  width: $px_scroll-to-top_size;
  height: $px_scroll-to-top_size;
  position: fixed;
  right: 25px;
  bottom: 55px;
  z-index: 99;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  background-color: variables.$clr_brand;

  img {
    height: 100%;
    width: 100%;
    filter: invert(100%);
  }

  @include mixins.mx_ismobile {
    &:hover {
      width: $px_scroll-to-top_size + 10;
      height: $px_scroll-to-top_size + 10;
      right: 20px;
      bottom: 50px;
      transition: 250ms cubic-bezier(0.51, 1.27, 0.18, 0.96);

      img {
        transform: translateY(-5px);
        transition: 250ms cubic-bezier(0.51, 1.27, 0.18, 0.96);
      }
    }
  }
}

#footer {
  grid-column: 1;
  grid-row: 2;
}

#footer-stateless {
  grid-column: 1;
  grid-row: 3;
}