$index_showcase_bg_day: url("../img/index/g.jpg");
$index_showcase_bg_night: url("../img/index/y.jpg");

$index_showcase1: url("../img/galeri/9761.jpg");
$index_showcase2: url("../img/galeri/7925.jpg");
$index_showcase3: url("../img/galeri/0414.jpg");
$index_showcase4: url("../img/galeri/7815.jpg");
$index_showcase5: url("../img/galeri/0429.jpg");