$index_showcase_bg_day: url("../img/index/g.jpg");
$index_showcase_bg_night: url("../img/index/y.jpg");

$index_slide1: url("../img/galeri/9761.jpg");
$index_slide2: url("../img/galeri/7925.jpg");
$index_slide3: url("../img/galeri/0414.jpg");
$index_slide4: url("../img/galeri/7815.jpg");
$index_slide5: url("../img/galeri/0429.jpg");