$mobileS: 360px;
$navbar_overflow: 550px;
$header_overflow: 730px;
$footer_overflow2: 880px;
$footer_overflow: 1110px;
$main: 1700px;
$fourK: 2560px;

$innerContainerMargin: 20px;

$sz_l_footer_h: 22px;
$sz_m_footer_h: 18px;
$sz_s_footer_h: 14px;
$sz_l_footer_p: 16px;
$sz_m_footer_p: 12px;
$sz_s_footer_p: 8px;

$clr_header: #01003B;
$clr_logo: #FDFFFF;
$clr_nav_sleep: #A3C2C2;
$clr_nav_active: $clr_logo;

$clr_footer: #000000;
$clr_footer_sleep: #DFE8E8;
$clr_footer_active: #F5FFFF;

$clr_sides: #364040;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');