$header_overflow: 1200px;
$header_overflow2: 850px;
$header_overflow3: 360px;
$index_brands_fix: 1100px;
$index_brands_fix2: 850px;
$footer_overflow: 1200px;
$footer_overflow2: 850px;
$aydinlatma_documents_fix: 1515px;
$aydinlatma_documents_fix2: 420px;

$px_headerPadding: 150px;
$px_headerPadding2: 50px;
$px_horizontalPadding: 200px;
$px_horizontalPadding2: 100px;
$px_horizontalPadding3: 20px;

$sz_l_footer_h: 22px;
$sz_m_footer_h: 18px;
$sz_s_footer_h: 14px;
$sz_l_footer_p: 16px;
$sz_m_footer_p: 12px;
$sz_s_footer_p: 8px;

$clr_dark: #01003B;
$clr_brand: #1d60b5;
$clr_brand_gradient: linear-gradient(to left, $clr_brand, #77afff);
$cg_drawer: linear-gradient(to left bottom, $clr_brand, #003e86);
$cg_drawer_navitem: linear-gradient(#FFFFFF, #adf0ff);
$cg_drawer_navitem2: linear-gradient(to top, #FFFFFF, #adf0ff);
$cg_brand_reverse: linear-gradient(to right, $clr_brand, #77afff);

$clr_logo: #FDFFFF;
$clr_header: #FDFFFF;
$clr_nav_sleep: #706fff;
$clr_nav_active: #01003B;

$clr_footerBackground: #000000;
$clr_footerSleepLow: #abb3b3;
$clr_footerSleepHigh: #f5ffff;
$clr_footerActive: #b3d1ff;

$clr_sides: #364040;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');