@use "../variables.scss";
@use "../mixins.scss";

#footer {
  display: flex;
  justify-content: space-between;
  background-color: variables.$clr_footerBackground;
  font: 16px "Montserrat", sans-serif;
  padding: 50px 200px;

  #small-logo {
    height: 50px;
    width: auto;
  }

  .footer-columns {
    display: flex;

    .footer-column {
      margin: 0 20px 20px 20px;

      h1 {
        margin: 0 0 16px 0;
        font: 700 18px "Montserrat", sans-serif;
        color: variables.$clr_footerSleepHigh;
      }

      a {
        text-decoration: none;
        color: variables.$clr_footerSleepLow;

        &:hover {
          font-size: 17px;
          color: variables.$clr_footerActive;
        }
      }

      ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
      }
    }
  }
}

#footer-stateless {
  display: flex;
  justify-content: space-between;
  background-color: variables.$clr_brand;
  color: white;
  font: 14px "Montserrat", sans-serif;

  a {
    color: white;
    text-decoration: none;

    &:hover {
      font-style: italic;
    }
  }

  .smaller {
    font-weight: 200;
    font-size: 12px;
  }
}