@use "../variables.scss";
@use "../mixins.scss";

#video, #misyon, #vizyon, #hikaye, #yonetim {
  text-align: center;

  h1 {
    margin: 0 0 1em 0;
    color: black;
  }

  ul {
    list-style-position: inside;
    font-size: 1vw;
  }
}

#video {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background: variables.$clr_brand_gradient;

  video {
    width: 100% !important;
    height: auto !important;
  }
}

#hikaye {
  section {
    display: flex;
    align-items: center;

    figure {
      img {
        height: 25vw;
      }

      figcaption {
        font: 500 1.25vh "Montserrat", sans-serif;
      }
    }

  @include mixins.mx_hakkimizda_text-area {
    flex-direction: column-reverse;
  }
  }

  .text-area {
    flex-direction: column;
  }
}