@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
.showcase {
  position: relative;
  background-image: none;
  background-color: black;
}
.showcase img {
  width: 100%;
  height: auto;
  filter: brightness(50%);
}
.showcase h1 {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  font: 800 128px "Montserrat", sans-serif;
  color: #FFFFFF;
}

.group {
  background-color: #FFFFFF;
  padding: 10px 200px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.group-item {
  display: flex;
  flex-direction: column;
}
.group-item img {
  max-width: 300px;
  height: auto;
}
.group-item p {
  font: 400 22px "Montserrat", sans-serif;
}
#header {
  background: #FDFFFF;
  padding: 0 150px;
  position: sticky;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 850px) {
  #header {
    padding: 0 50px;
  }
}
#header #logo {
  height: 56px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #FDFFFF;
}
@media screen and (max-width: 850px) {
  #header #logo {
    height: 36px;
  }
}
#header .navbar {
  display: flex;
}
#header .navbar .nav-item {
  margin-right: 1vw;
  font: 18px "Montserrat", sans-serif;
  font-weight: 600;
  color: #706fff;
  text-decoration: none;
}
#header .navbar .nav-item:hover {
  color: #01003B;
}
#header .navbar .nav-item:last-of-type {
  margin-right: 0;
}
@media screen and (max-width: 1200px) {
  #header .navbar .nav-item {
    display: none;
  }
}
#header .menu {
  display: none;
  filter: invert(1);
}
@media screen and (max-width: 1200px) {
  #header .menu {
    display: block;
  }
}

#footer {
  display: flex;
  justify-content: space-between;
  background-color: #000000;
  font: 16px "Montserrat", sans-serif;
  padding: 50px 200px;
}
#footer #small-logo {
  height: 50px;
  width: auto;
}
#footer .footer-columns {
  display: flex;
}
#footer .footer-columns .footer-column {
  margin: 20px;
}
#footer .footer-columns .footer-column h1 {
  margin: 0 0 16px 0;
  font: 700 18px "Montserrat", sans-serif;
  color: #f5ffff;
}
#footer .footer-columns .footer-column a {
  text-decoration: none;
  color: #abb3b3;
}
#footer .footer-columns .footer-column a:hover {
  font-size: 17px;
  color: #b3d1ff;
}
#footer .footer-columns .footer-column ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#footer-stateless {
  display: flex;
  justify-content: space-between;
  background-color: #1d60b5;
  color: white;
  font: 14px "Montserrat", sans-serif;
}
#footer-stateless a {
  color: white;
  text-decoration: none;
}
#footer-stateless a:hover {
  font-style: italic;
}
#footer-stateless .smaller {
  font-weight: 200;
  font-size: 12px;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #364040;
}

.content_spacing {
  padding: 0 200px;
}
@media screen and (max-width: 850px) {
  .content_spacing {
    padding: 0 100px;
  }
}
@media screen and (max-width: 600px) {
  .content_spacing {
    padding: 0 20px;
  }
}

#header {
  height: 10vh;
}
@media screen and (max-width: 850px) {
  #header {
    height: 5vh;
  }
}

#container {
  height: 90vh;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 1fr;
  grid-gap: 0;
  overflow: auto;
}

#content {
  background: whitesmoke;
  grid-column: 1;
  grid-row: 1;
  overflow-wrap: break-word;
}

#footer {
  grid-column: 1;
  grid-row: 2;
}

#footer-stateless {
  grid-column: 1;
  grid-row: 3;
}

/*# sourceMappingURL=main.css.map */
